
h1, h2, h3, h4, h5 {
  color: white;
}

body{
  background-color: rgb(14, 14, 14);
}

.mr-1{
  margin-right: 1em;
}

.mr-2{
  margin-right: 2rem;
}

.ml-1{
  margin-left: 1em;
}

.ml-2{
  margin-left: 2rem;
}

form input{
  color: rgb(255, 255, 255);
}

