.own:after {
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.own:hover {
  padding-right: 3rem;
}

.own:hover:after {
  opacity: 1;
  right: 1rem;
}

.own .hover-arrow {
  display: none;
}

.own:hover .hover-arrow {
  display: inline;
  position: absolute;
  margin-left: -2rem;
  margin-top: 2.8%;
}

