.own:after {
  position: absolute;
  opacity: 0;
  right: -20px;
  transition: 0.5s;
}

.own:hover {
  padding-right: 3rem;
}

.own:hover:after {
  opacity: 1;
  right: 1rem;
}

.own .hover-arrow {
  display: none;
}

.own:hover .hover-arrow {
  display: inline;
  position: absolute;
  margin-left: -2.75rem;
  margin-top: 6%;
}

/* Custom Card */
.custom-card{
  position: relative;
  border-radius: 5px;
  height: 200px;
  width: auto;
  padding: 7px;
  border: 2px solid rgb(192, 10, 10);
}

.custom-card .custom-card-image{
  background-color: aliceblue;
  border-radius: 5px;
  width: 100%;
  height: 85%;
  transition: all 0.7s;
}

.custom-card .custom-card-image:hover{
  background-color: black;
  transform:rotateY(90deg);
}

.custom-card:hover{
  background-color: rgb(192, 10, 10);
}

.custom-card .custom-card-title{
  position: absolute;
  color: black;
  font-size: 27px;
  bottom: 2rem;
  left: 1rem;
}